.pageWrapper {
    display: block;
    max-width: 720px;
    margin: auto;
}

.slide {
    float: left;
    display: block;
    padding-right: 5px;
    margin-bottom: 15px;
    width: 720px;
    height: 230px; 
}


.about {
    display: block;
    float: right;  
}

.entryTitle {
    display: block;
    margin-top: 155px;
    margin-left: 5px;
    margin-right: 5px;  
    font-weight: bolder;
    font-size: 25pt;
}

.entryContent {
    display: block;
    margin-left: 5px;
    margin-right: 5px;  
}

.ava {
    float: right;
    width: 224px;
    height: 300px;
    border: 1px solid hsla(21, 37%, 15%, 0.5);
}