h3 {
  align-items: center;
}

.blogPage {
  align-content: left;
  align-items: left;
  display: block;
  justify-content: flex-start;
  margin: 5 auto;
  width: 100%;
}

.blogPage .preloader {
  position: absolute;
  left: 10px;
  top: 30px;
}

.postsWrapper {
  width: 100%;
  margin-top: 60px;
  text-align: left;
  margin: 0 auto;
  left: 5px;
}

.posts {
  display: block;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  top: 60px;
  font-size: 10px;
}

.upToTopButton {
  position: fixed;
  background-color: #ccc;
  left: 20px;
  bottom: 0;
  border-top-left-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
}
