.postsHeader {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  font-size: calc(15px + (30 - 15) * ((100vw - 500px) / (1920 - 500)));
  margin: calc(10px + (30 - 5) * ((100vw - 500px) / (1920 - 500))) auto;
  width: calc(200px + (500 - 250) * ((400vw - 1000px) / (1920 - 850)));
}

.showAddFormBtn {
  width: 120px;
  height: 25px;
  text-align: center;
  margin-bottom: 55px;
  margin-top: 65px;
  position: absolute;
  border-radius: 8px;
  font-size: 15px;
  background-color: #333;
  color: white;
}

h1{
  font-size: 30px;
}