.post {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    font-size: calc(15px + (30 - 15) * ((100vw - 500px) / (1920 - 500)));
    margin: calc(5px + (30 - 5) * ((100vw - 500px) / (1920 - 500))) auto;
    width: calc(200px + (500 - 250) * ((400vw - 750px) / (1920 - 500)));
}


.postControl {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 100%;
    top: 100%;
    bottom: 30px;
}


.postControl button {
    padding: 0;
}

.likeButton {
    padding-top: 10px;
}

.deleteBtn svg {
    font-size: 32px;
}