.blogPage {
    position: relative;
}

.blogPage .preloader {
    position: absolute;
    left: 10px;
    top: 30px;
}

.addNewPost {
    text-align: center;
}

.post {
    width: 100%;
    padding: 0 auto;
    font-size: calc(15px + (30 - 15) * ((100vw - 500px) / (1920 - 500)));
    margin: calc(5px + (30 - 5) * ((100vw - 500px) / (1920 - 500))) auto;
    width: calc(200px + (500 - 250) * ((400vw - 750px) / (1920 - 500)));
}

.postsControl {
    display: flex;
    align-self: flex-end;
    position: relative;
    padding-right: 10px;
    height: 100%;
    bottom: 5px;
}

.postsControl button {
    padding: 0;
}