.loginForm {
  width: 400px;
  margin: 0 auto;
}

.loginForm div {
  margin-bottom: 10px;
}

.loginForm input, .loginForm button {
  border-radius: 8px;
  width: 80%;
  padding: 3px 5px;
  font-size: 22px;
}

.loginForm input {
  border: 1px solid #ccc;
}

.loginForm button {
  background-color: #333;
  color: white;
}