.post {
  display: block;
  width: 100vw;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  font-size: calc(15px + (30 - 15) * ((100vw - 500px) / (1920 - 500)));
  margin: calc(5px + (30 - 5) * ((100vw - 900px) / (1920 - 500))) auto;
  width: calc(190px + (500 - 250) * ((400vw - 1000px) / (1920 - 850)));
}

.actions {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 15px;
  left: 20px;
  top: 100%;
  bottom: 30px;
}

.actions button {
  padding: 0px;
}


.likeBtn {
  display: block;
  justify-content: space-between;
  position: relative;
  padding-top: 5px;
  right: 5px;
  width: 25px;
}

.deleteBtn svg {
  font-size: 32px;
}
