.blogpage {
    position: relative;
}

.blogPage .preloader {
    position: absolute;
    left: 10px;
    top: 30px;
}

.addNewPost {
    text-align: center;
}

.posts {
    width: 760px;
    margin: 5 5 auto; 
    
}
.postsControl {
    display: flex;
    align-self: flex-end;
    position: relative;
    padding-right: 10px;
    height: 100%;
    bottom: 5px;
}

.postsControl button {
    padding: 0;
}



 

