.blogpage {
    position: relative;
}

.blogPage .preloader {
    position: absolute;
    left: 50%;
    top: 50%;
}

.addNewPost {
    text-align: center;
}

.posts {
    width: 750px;
    margin: 0 auto;
}
 
.editBtn {
    position: relative;
    bottom: 10px;
    left: -60%;
    margin-top: 450px;
}

.deleteBtn {
    position: relative;
    bottom: 10px;
    left: -60%;
    margin-top: 450px;
}

 

