.pageWrapper {
    display: block;
    width: 115%;
    margin: auto;
}

.banner {
    width: 100%;
    float: left;
    display: block;
    padding-right: 5px;
    margin-bottom: 15px;   
    height: 300px; 
}


.about {
    width: 100%;
    display: block;
    float: right;  
}

.entryTitle {
    display: block;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-left: 5px;
    margin-right: 5px;  
    font-weight: bolder;
    font-size: 25pt;
}

.entryContent {
    display: block;
    margin-left: 5px;
    margin-right: 5px;  
}

.title {
    text-align: center;
    display: block;
    font-weight: bolder;
    font-size: 20pt;
}

.ava {
    float: right;
    width: 224px;
    height: 260px;
    border: 1px solid hsla(21, 37%, 15%, 0.5);
}